/* font-family: 'Lobster', cursive;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive; */
#small {
    display: inline-block;
    margin: 10px 0;
    font-family: 'Poppins' sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #333333;
    font-weight: 400;
}

.sect2 {
    display: flex;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
}

#firstline {
    color: #333333;
    font-family: 'Yeseva One', ;
    font-size: 3em;
    display: inline-block;
    padding: 0 0 0 10px;
    border-left: 5px solid #FF5959;
}

#MS24 {
    color: #FFAD5A;
}

.F-part {
    width: 50vmax;
}

#myphoto {
    max-width: 70%;
    height: auto;
    padding-top: 30px;
}

.button {
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 7px 20px;
    border-radius: 5px;
    font-family: 'Poppin', sans-serif;
    font-weight: 500;
}

.parts {
    width: 30%;
    padding: 0 10px 0 20px;
    border-radius: 40px;
    margin: 0 10px 00;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.mission {
    background-color: #EDF5F6;
}

.vision {
    background-color: #FFEEEE;
}

.goal {
    background-color: #FFF4D6;
}

#ourmission {
    font-family: 'Poppoins', sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #13103A;
}

.illustration {
    width: 60%;
    margin: 20px auto 10px;
    display: block;

}

.headline {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #333333;
}

.procode {
    width: 50%;
    padding-left: 20px;
}

.textt {
    padding-left: 20px;
}