/* font-family: 'Lobster', cursive;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive; */
#small {
    display: inline-block;
    margin: 10px 0;
    font-family: 'Poppins' sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #333333;
    font-weight: 400;
}

.sect2 {
    display: flex;
    margin-left: 10px;
}

#firstline {
    color: #333333;
    font-family: 'Yeseva One', ;
    font-size: 3em;
    display: inline-block;
    padding: 0 0 0 10px;
    border-left: 5px solid #FF5959;
}

#MS24 {
    color: #FFAD5A;
}

.F-part {
    width: 50vmax;
}

#myphoto {
    width: 100%;
    padding-top: 50px;
}

.button {
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 7px 20px;
    border-radius: 5px;
    font-family: 'Poppin', sans-serif;
    font-weight: 500;
}